<h1>Welcome to Our App!</h1>
<p>Please click the following link to activate your account:</p>
<a href="https://pets-helpful.vercel.app/signin?account_activation_token=<%= @user.activation_token %>">Activate Account</a>