<p>Petshelpful Website Confirmation</p>

<p>Dear <%= @email %>!</p>

<p>Thank you for signing up with Petshelpful! We're thrilled to have you on board. To complete your registration, please click the confirmation link below:</p>

<p><a href="http://localhost:3001/signin?confirmation_token=<%= @token %>">Confirm my account</a></p>

<p>Once you've confirmed your email, you'll be redirected to the sign-in page. If you have any questions or need assistance, don't hesitate to reach out to our support team.</p>

<p>Welcome to the Petshelpful community!</p>

<p>Best regards,</p>
<p>Petshelpful Team</p>